<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.js"></script>
  </head>

  <style>
      .panel > .panel-heading {
        background-image: none;
        background-color: #006666;
        color: white;
        border: 1px solid #006666; 
      }

      .panel {
        border: 1px solid #006666;
      }
  </style>

  <body>
    <div ng-app="myApp" ng-controller="myCtrl" style="width:100%" >

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a
                    class="navbar-brand"
                    style="text-align:center;font-size:400%;font-family:'Times New Roman';cursor:pointer;"
                    ng-click="reload()">
              Forum
            </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">About</a></li>
            </ul>
          </div>
        </div>
      </nav>

        <div class="col-md-12" style="margin-left:50px;float:left;">
          <div ng-init="getAllTopics()">

            <table class="col-md-8" ng-show="index_page">
              <tbody>
                <tr style="margin-top:20px;" ng-repeat="topic in AllTopics">
                  <td style="cursor:pointer">
                    <a style="font-size:170%;font-family:'Times New Roman';"
                       ng-click="get_details_about_post(topic.comment_id)">
                      {{topic.comment_text}}
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <!--<div class="col-md-8" id="post_and_comments_div">-->
            <div class="col-md-8">
              <collection collection='treedata'></collection>
            </div>

          <div class="col-md-4" style="float:right">
            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#login">Login as Existing User</a>
              </li>
              <li>
                <a data-toggle="tab" href="#register">Register</a>
              </li>
            </ul>

            <div class="tab-content">

              <div id="login" class="tab-pane fade in active">
                <div style="width:80%;margin:auto">
                  <br><br>
                  <div class="form-group">
                    <label for="usr">Email:</label>
                    <input type="text" class="form-control" id="log_email" ng-model="email">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="log_pwd" ng-model="password">
                  </div>
                  <button type="button" ng-click="login()" class="btn btn-block btn-primary">    
                    Login
                  </button>
                </div>
              </div>

              <div id="register" class="tab-pane fade">                
                <div style="width:80%;margin:auto">
                  <br>
                  <br>
                  <div class="form-group">
                    <label for="usr">UserName:</label>
                    <input type="text" class="form-control" id="usr" ng-model="sign_username">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" ng-model="sign_password">
                  </div>
                  <div class="form-group">
                    <label for="alias">Email:</label>
                    <input type="text" class="form-control" id="email" ng-model="sign_email">
                  </div>
                  <button type="button" ng-click="signup()" class="btn btn-block btn-primary">
                    SignUP
                  </button>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
  </body>


  <script>
    var app = angular.module('myApp', ['ui.bootstrap']);
    app.controller('myCtrl', function($scope, $http, $timeout, $interval, $q) {

      $scope.index_page = true
      $scope.AllTopics = []
      $scope.treedata = new Array();

      $scope.reload = function(){
        window.location.reload();
      }

      $scope.getAllTopics = function(){
        $http(
          {
            url: "forum/",
            method: 'GET',
          }
        ).then(
          function(response) {
            $scope.AllTopics = response.data.responseData;
          },
          function(response) {
            console.log(response)
          }     
        ) 
      }

      $interval(function () {
        $scope.getAllTopics();
      }, 9 *60 * 60);

      $scope.get_details_about_post = function(comment_id){
        $scope.index_page = false;
        let isloggedin = localStorage.getItem('username');

        islogin = true
        if (!isloggedin)
          islogin = false

        $http(
          {
            url: "forum/",
            method: "GET",
            params: {
              commentid: comment_id,
              islogin: islogin
            }
          }
        ).then(
          function(response) {
            $scope.treedata[0] = response.data.responseData;
            console.log(response)
          },
          function(response) {
            console.log(response)
          }     
        ) 
      }


      $scope.login = function() {
        $http(
          {
            url: "authenticate/",
            method: "POST",
            data: {
              email: $scope.email,
              password: $scope.password 
            }
          }
        ).then(
          function(response) {
            console.log(response)
            localStorage.setItem("email", $scope.email);
            localStorage.setItem("username", response.data.responseData);
            window.location.href = "http://myforum.com/post.html";
          },
          function(response) {
            console.log(response)
          }     
        ) 
      }

      $scope.signup = function() {
        $http(
          {
            url: "signup/",
            method: "POST",
            data: {
              username: $scope.sign_username,
              password: $scope.sign_password,
              email: $scope.sign_email
            }
          }
        ).then(
          function(response) {
            console.log(response)
            alert("User Added Successfully")
          },
          function(response) {
            console.log(response)
            alert(response.data.message)
          }     
        ) 
      }
    })

    app.directive('collection', function () {
      return {
        restrict: "E",
        replace: true,
        scope: {
          collection: '='
        },
        template: "<ul><member ng-repeat='member in collection' member='member'></member></ul>",
      }
    })

    app.directive('member', function ($compile) {
      return {
        restrict: "E",
        replace: true,
        scope: {
          member: '='
        },
        template: "<li><b>{{member.commenting_user_email}}</b> {{member.comment_text}}<br><br></li>",
        link: function (scope, element, attrs) {
          if (angular.isArray(scope.member.children)) {
            element.append("<collection collection='member.children'></collection>"); 
            $compile(element.contents())(scope)
          }
        }
      }
    })

  </script>

</html>
